html {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto';
    font-style: normal;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(80px - 36px);
    width: calc(100% - 44px);
    padding: 18px 22px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

body {
    width: 100vw;
    height: calc(100% - 160px);
    background: #E5E5E5;
    padding-top: 80px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x:hidden;
    overflow-y:visible;
    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    height: calc(80px - 36px);
    width: calc(100% - 44px);
    padding: 18px 22px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

input {
    border: 0
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width:  100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.hidden {
    visibility: hidden;
}
.hidder {
    height: 100%;
    width: calc(100% - 259px);
    background: rgba(0, 0, 0, 0.6);
}

aside {
    height: 100%;
    width: 259px;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(80px - 36px);
    width: calc(100% - 44px);
    padding: 18px 22px;
}

.body {
    width: 100%;
    height: calc(100% - 80px);
}

p {
    
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


.status, .private_message, .message{
    min-height: 40px;
    width: 100%;
    border-radius: 2px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin: 2px 0;
    flex-wrap: wrap;

}

.status {
    background: #DCDCDC;
}

.private_message {
    background: #FFDEDE;
}

.message {
    background: #FFFFFF;
}

b {
    font-weight: bold;
}

.time {
    color: #AAAAAA;
}

.body img {
    height: 20.31px;
    width: 20.31px;
}

.visibility div, .visibility div div, .people div, .people div div, .body p  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visibility div, .people div, .body p {
    height: 36px;

}

.people div, .visibility div {
    margin: 0 12px;
}

.people div div {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
}
.hidden {
    visibility: hidden;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
}

h2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #505050
}

::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}