html {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto';
    background-color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(80px - 36px);
    width: calc(100% - 44px);
    padding: 18px 22px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

body {
    width: 100%;
    height: calc(100% - 160px);
    margin-top: 80px;
    background: #E5E5E5;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    height: calc(80px - 36px);
    width: calc(100% - 44px);
    padding: 18px 22px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

input {
    border: 0
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width:  100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    visibility: hidden;
}
.hidder {
    height: 100%;
    width: calc(100% - 259px);
    background: rgba(0, 0, 0, 0.6);
}

aside {
    height: 100%;
    width: 259px;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(80px - 36px);
    width: calc(100% - 44px);
    padding: 18px 22px;
}

.body {
    width: 100%;
    height: calc(100% - 80px);
}

p {
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
